In [1]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np

In [6]:
# Reading data into a DataFrame
file1 = pd.read_csv('./files_for_lab/csv_files/file1.csv')
#display(file1.head(10))
file2 = pd.read_csv('./files_for_lab/csv_files/file2.csv')
#display(file2.head(10))
file3 = pd.read_csv('./files_for_lab/csv_files/file3.csv')
display(file3.head(10))

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
5,VI78454,Arizona,2750.705045,College,M,51789,70,0,Personal Auto,336.000000,Four-Door Car
6,FP59138,Oregon,13024.130120,Master,M,0,125,0,Personal Auto,900.000000,SUV
7,XN62489,Oregon,2538.626320,Bachelor,M,18608,71,0,Corporate Auto,340.800000,Four-Door Car
8,GP66031,California,2585.955652,College,F,83758,64,0,Corporate Auto,106.591949,Two-Door Car
9,IX68587,Nevada,5096.673223,Master,F,22886,65,0,Personal Auto,312.000000,Four-Door Car

In [8]:
#Show the shape of the dataframes
display(file1.shape)
display(file2.shape)
display(file3.shape)

(4008, 11)

(996, 11)

(7070, 11)

In [ ]:
#Standardize header names.